
<div class="faq">
    
    <div class="faq__container faq__container__0">
            <h3 class="faq--title">Sobre Lola Market</h3>
            <p class="faq--description">Preguntas generales sobre Lola Market. Si eres nuevo empieza por aquí.</p>
            <p class="faq--articles">13 articulos</p>
    </div>

    <div class="faq__container faq__container__1">
        <h3 class="faq--title">Quiero hacer un pedido</h3>
        <p class="faq--description">Sobre nuestros productos, los supermercados y nuestros precios</p>
        <p class="faq--articles">15 articulos</p>
    </div>

    <div class="faq__container faq__container__2">
        <h3 class="faq--title">He hecho un pedido</h3>
        <p class="faq--description">Si has hecho un pedido y tienes alguna duda, aquí encontrarás lo que buscas. </p>
        <p class="faq--articles">16 articulos</p>
    </div>
</div>



